@page "/todo"
@inject LearnDbContext dbContext

<h3>TODO List</h3>


<div>
    <Row>
        <Col Span="24">

        <EditForm Model="@FormModel" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <Search Placeholder="Write new TODO item here..." Size="@InputSize.Large" EnterButton="@("Add")" @bind-Value="@FormModel.Title" OnSearch="AddItem" />
        </EditForm>
        </Col>
    </Row>

    <Row Class="todo-list-box">
        <Col Span="24">
        @if (sampleArr?.Count == 0)
        {
            <Alert Type="@AlertType.Info"
                   Message="No ToDos so far"
                   Description="Write new ToDo in the form above and press Add button."
                   ShowIcon />
        }
        else
        {
            <AntList Bordered DataSource="@sampleArr" Context="item" Size="large" Loading="isLoading">
                <ListItem>
                    <ChildContent>
                        TODO: @item.Title
                    </ChildContent>
                    <Extra>
                        <Button @onclick=" () => DeleteItem(item)">Delete</Button>
                    </Extra>
                </ListItem>
            </AntList>
        }
        </Col>
    </Row>


</div>



<style>

    .todo-list-box {
        margin-top: 15px;
    }
</style>


@code {

    private bool isLoading;

    private ToDoItem FormModel = new ToDoItem();

    private List<ToDoItem> sampleArr;

    private void HandleValidSubmit()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadItems();
    }

    private async Task AddItem()
    {
        dbContext.ToDoItems.Add(FormModel);
        FormModel = new ToDoItem();
        await dbContext.SaveChangesAsync();
        await LoadItems();
    }

    private async Task LoadItems()
    {
        isLoading = true;
        //await Task.Delay(TimeSpan.FromSeconds(2));
        sampleArr = await dbContext.ToDoItems.ToListAsync();
        isLoading = false;
    }

    private async Task DeleteItem(ToDoItem item)
    {

        dbContext.ToDoItems.Remove(item);
        await dbContext.SaveChangesAsync();
        await LoadItems();
    }


}
